*.pyc
*.pyo
*.pyd
*.o
*.lo
*.la
*~
*.so
*.bak
/.settings
.DS_Store
/build
/doc/build
/doc/api
/coverage
MANIFEST
_LinkChecker_configdata.py
Changelog.linkchecker*
/*-stamp
/*-stamp-*
/dist
/share
/linkchecker.egg-info
/tests/checker/data/dir
/tests/__pycache__
/linkchecker-out.*
/lcdump*
/doc/html/*.qhc
/doc/html/*.qch
/.achievements
/doc/*.mo
/po/*.mo
/LinkChecker-*-portable.zip
/LinkChecker-*.exe
/LinkChecker.egg-info
/todo
/alexa*.log
/testresults.txt
/linkchecker.prof
