"""
    Copyright (C) 2000  Bastian Kleineidam

    This program is free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation; either version 2 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program; if not, write to the Free Software
    Foundation, Inc., 675 Mass Ave, Cambridge, MA 02139, USA.
"""
import os,sys
from Template import Template

distpath = os.getcwd()
data = {
    'install_data': distpath,
    'install_scripts': distpath,
    "syspath": "sys.path.insert(0, '%s')" % distpath,
    'author': '$author',
    'version': '$version',
    'url': '$url',
    'appname': '$appname',
    'email': '$email',
    'python': os.path.normpath(sys.executable),
}
files = [
    'linkchecker',
    'linkchecker.bat',
    'test/profiletest.py',
    'linkcheck/__init__.py',
    'linkcheck/Config.py',
]
for name in files:
    t = Template(name+".tmpl")
    f = open(name,"w")
    f.write(t.fill_in(data))
    f.close()
os.chmod("linkchecker", 0755)
print "Local installation ok"
