@echo off
rem    Copyright (C) 2000  Bastian Kleineidam
rem
rem    This program is free software; you can redistribute it and/or modify
rem    it under the terms of the GNU General Public License as published by
rem    the Free Software Foundation; either version 2 of the License, or
rem    (at your option) any later version.
rem
rem    This program is distributed in the hope that it will be useful,
rem    but WITHOUT ANY WARRANTY; without even the implied warranty of
rem    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
rem    GNU General Public License for more details.
rem
rem    You should have received a copy of the GNU General Public License
rem    along with this program; if not, write to the Free Software
rem    Foundation, Inc., 675 Mass Ave, Cambridge, MA 02139, USA.

rem uncomment the next line to enable german output
rem set LC_MESSAGES=de
rem Limited to 9 parameters? Is there a $* for Windows?
"$python" "$install_scripts\linkchecker" %1 %2 %3 %4 %5 %6 %7 %8 %9
