include MANIFEST.in
include README FAQ INSTALL LICENSE TODO draft-gilman-news-url-00.txt
include linkcheckerrc linkchecker linkchecker.bat create.sql
include lc.cgi lc.fcgi lc.sz_fcgi
include Makefile
include create.sql
include debian/rules debian/changelog debian/copyright debian/control
include debian/dirs debian/docs debian/links debian/postinst
include debian/prerm
include DNS/README
include test/viewprof.py test/profiletest.py test/*.html
recursive-include locale *.mo
recursive-include po *
recursive-include lconline *
recursive-include tests *.py
