include README FAQ INSTALL LICENSE TODO draft-gilman-news-url-00.txt
include norobots-rfc.html guruguru.bmp WONTDO
include linkcheckerrc linkchecker linkchecker.bat linkchecker.1 create.sql
include lc.cgi lc.fcgi lc.sz_fcgi
include Makefile
include create.sql
include debian/rules debian/changelog debian/copyright debian/control
include debian/linkchecker.*
include test/*.py test/*.txt
include test/output/test_* test/html/*.html
include rpm_build_script
include lconline/*.html
include linkcheck/parser/htmllex.l
include linkcheck/parser/htmlparse.y
include linkcheck/parser/htmlsax.h
recursive-include share *.mo
recursive-include po *.po *.py Makefile
exclude _linkchecker_configdata.py
