include README INSTALL LICENSE TODO MANIFEST.in ChangeLog
include config/linkchecker-completion config/create.sql
include config/linkcheckerrc config/linkcheck-cron.sh
include config/logging.conf config/pycheckrc config/pylintrc
include config/reindent.py install-linkchecker.py install-rpm.sh
include linkchecker
include cgi/lc.cgi cgi/lc.fcgi cgi/README
include Makefile bdist.bat
include debian/rules
include debian/changelog
include debian/copyright
include debian/control
include debian/linkchecker.dirs
include debian/linkchecker.docs
include debian/linkchecker.examples
include debian/linkchecker.links
include debian/linkchecker.postinst
include debian/compat
include debian/NEWS.Debian
include debian/README.Debian
include debian/watch
include test.py test/*.py test/*.sh
include cgi/lconline/*.html cgi/lconline/*.de cgi/lconline/*.en
include cgi/lconline/check.js
include linkcheck/HtmlParser/Makefile
include linkcheck/HtmlParser/htmllex.l
include linkcheck/HtmlParser/htmlparse.y
include linkcheck/HtmlParser/*.h
include linkcheck/ftpparse/*.h
include po/*.po po/*.pot po/Makefile
include doc/*.py doc/*.example
include doc/po4a.conf doc/*.po doc/*.pot
include doc/en/*.txt doc/en/*.nav doc/en/*.html doc/en/*.png doc/en/*.jpg
include doc/en/*.css doc/en/*.1 doc/en/Makefile
include doc/de/*.1
include doc/fr/*.1
include doc/Makefile doc/rest2htmlnav
recursive-include linkcheck/checker/tests/data *.txt *.html *.result *.asc *.css *.ico
include linkcheck/tests/*.py
include linkcheck/checker/tests/*.py
include linkcheck/dns/tests/*.py
include linkcheck/dns/tests/example*
include hase.bmp
