[Desktop Entry]
Name=LinkChecker GUI
GenericName=URL validator
GenericName[de]=URL Validator
Version=1.0
Type=Application
Exec=linkchecker-gui
Terminal=false
Categories=Network;WebDevelopment;
Icon=logo48x48
