.navigation {
    background: transparent;
}

.navrow {
    border-collapse: collapse;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    border-bottom-color: #f86821;
    white-space: nowrap;
}

.navrow a {
    color: #222222;
    background: transparent;
    border-left-width: 10px;
    border-left-style: solid;
    border-left-color: #f86821;
    font-weight: normal;
    margin-right: 1em;
    padding: 0em 0.5em;
    text-decoration: none;
}

.navrow a:hover {
    color: black;
    background: #f8c218;
    border-color: #f85b0d;
}

.navrow span {
    color: #222222;
    background: #f8c218;
    border-left-width: 10px;
    border-left-style: solid;
    border-left-color: #f85b0d;
    font-weight: normal;
    margin-right: 1em;
    padding: 0em 0.5em;
}
