{% extends "!layout.html" %}

{% block extrahead %}
<link rel="apple-touch-icon" href="_static/logo57x57.png"/>
<style type="text/css">
img { border: 0; }
</style>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-37451420-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
{% endblock %}

{% block rootrellink %}
  <li><a href="/">Home </a> |&nbsp;</li>
{% endblock %}

{% block relbar1 %}
<div style="background-color: white; text-align: left; padding: 10px 10px 15px 15px">
<table border="0"><tr>
 <td><a href="/"><img
  src="{{ pathto("_static/logo32x32.png", 1) }}" border="0" alt="LinkChecker"/></a></td>
 <td><h1>LinkChecker</h1></td>
</tr></table>
</div>
{% endblock %}
{% block relbar2 %}{% endblock %}

{# put the sidebar before the body #}
{% block sidebarsearch %}{% endblock %}
{% block sidebar1 %}{{ sidebar() }}{% endblock %}
{% block sidebar2 %}{% endblock %}
{% block sidebarlogo %}{% if builder == 'html' %}
<h3>Download</h3>

<a href="http://github.com/downloads/wummel/linkchecker/LinkChecker-{{version}}.exe">LinkChecker&nbsp;{{version}}&nbsp;for&nbsp;Windows</a><br/>
<a href="http://sourceforge.net/projects/linkchecker/files/7.0/LinkChecker-7.0.dmg">LinkChecker&nbsp;7.0&nbsp;for&nbsp;Mac&nbsp;OS&nbsp;X</a><br/>
<a href="http://ftp.debian.org/debian/pool/main/l/linkchecker/">LinkChecker&nbsp;{{version}}&nbsp;for&nbsp;Debian</a><br/>
<a href="http://github.com/downloads/wummel/linkchecker/LinkChecker-{{version}}.tar.xz">LinkChecker&nbsp;{{version}}&nbsp;source</a><br/>
<a href="https://github.com/wummel/linkchecker/blob/master/doc/changelog.txt">Changelog</a><br/>
<h3>Support</h3>
{% if pagename != 'faq' %}
<a href="{{ pathto('faq') }}">FAQ</a><br/>
{% endif %}
<a href="https://github.com/wummel/linkchecker/issues?state=open">Issue&nbsp;tracker</a><br/>
<a href="https://github.com/wummel/linkchecker">Development info</a><br/>
<h3>Documentation</h3>
<a href="man1/linkchecker.1.html">Manual page</a><br/>
{% if pagename != 'donations' %}
<h3>Help the project</h3>

<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="639DSFZJCJXLA">
<input type="image" src="_static/btn_donate_LG.gif" border="0" name="submit" alt="PayPal donation">
</form>

<br/>

<a class="coinbase-button" data-code="7f0a9996e51c2365447b09ce5414d384" data-button-style="donation_small" href="https://coinbase.com/checkouts/7f0a9996e51c2365447b09ce5414d384">Donate Bitcoins</a><script src="https://coinbase.com/assets/button.js" type="text/javascript"></script>

<br/>

<a href="http://flattr.com/thing/1115096/LinkChecker" target="_blank">
<img src="http://api.flattr.com/button/flattr-badge-large.png" alt="Flattr this" border="0" /></a>

{% endif %}
{% endif %}
{% endblock %}
{% block sidebartoc %}{% endblock %}
