#!/usr/bin/make -f

DEB_PYTHON_SYSTEM=pycentral
DEB_DH_INSTALLCHANGELOGS_ARGS=ChangeLog.txt

common-install-arch::
	$(MAKE) locale

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/python-distutils.mk

DEB_CLEAN_EXCLUDE=gui/glinkchecker.py.orig
PACKAGE=linkchecker
ROOT=$(CURDIR)/debian/$(PACKAGE)
PYTHON=python$(DEB_PYTHON_COMPILE_VERSION)
DOCDIR=$(ROOT)/usr/share/doc/$(PACKAGE)
CGIDIR=$(ROOT)/usr/lib/cgi-bin/lconline
HTMLDIR=$(ROOT)/var/www/lconline
SHARE=$(ROOT)/usr/share/$(PACKAGE)
LOCALE=$(ROOT)/usr/share/locale
ETC=$(ROOT)/etc

common-configure-arch::
	$(PYTHON) setup.py sdist --manifest-only

common-install-arch::
# remove example files, we install them with dh_installexamples
	rm -r $(ROOT)/usr/share/linkchecker/examples
# install system wide configuration files in etc
	mv $(SHARE)/linkcheckerrc $(ETC)/$(PACKAGE)/
	mv $(SHARE)/logging.conf $(ETC)/$(PACKAGE)/
# install CGI files
	install -m 644 cgi-bin/lconline/*.html $(HTMLDIR)
	install -m 644 cgi-bin/lconline/*.de $(HTMLDIR)
	install -m 644 cgi-bin/lconline/*.en $(HTMLDIR)
	install -m 644 cgi-bin/lconline/*.js $(HTMLDIR)
	install -m 644 cgi-bin/lconline/*.css $(HTMLDIR)
	install -m 755 cgi-bin/lc.cgi $(CGIDIR)
	install -m 755 cgi-bin/lc.fcgi $(CGIDIR)
# install bash_completion script
	install -m 644 config/linkchecker-completion $(ETC)/bash_completion.d
# install .mo files
	install -m 644 build/share/locale/de/LC_MESSAGES/linkchecker.mo $(LOCALE)/de/LC_MESSAGES/

